{% extends 'main/base.html'%}
{% load static %}
{% block content %}

<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0">
            <h1 class="display-2 fst-italic">{{object.heading}}</h1><br><br>
        </div>


        <article class="blog-post">

            <p class="blog-post-meta">{{object.created}}</p>
            <p>{{object.content}}</p>

        </article>

        <nav>
            <a class="btn btn-outline-danger rounded-pill float-end"
               role=button href="{% url 'blog:blog_delete' object.slug %}">Delete</a>
            <a class="btn btn-outline-info rounded-pill float-end"
               role=button href="{% url 'blog:blog_update' object.slug %}">Edit</a>
            <a class="btn btn-outline-primary rounded-pill" href="{% url 'blog:blog_list' %}">Back</a>
            <a class="btn btn-outline-warning rounded-pill float-end"
               role=button href="{% url 'blog:switch_publish_status' object.pk %}">
                {% if object.is_published %}
                Unpublish
                {% else %}
                Publish
                {% endif %}
            </a>

        </nav>

    </div>
</main>
{% endblock%}
