{% extends 'main/base.html'%}
{% block content%}
{% for product in products%}
<div class="col-lg-4">
    <img src="/media/device.jpeg" class="img-thumbnail" alt="">
    <h2 class="fw-normal">{{product.name|title}}</h2>
    <p>{{product.description|title}}</p>
    <p>Stock - {{product.stock}}</p>
    <p>Price - {{product.price}}</p>
    <div class="btn-group">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false"> Actions
        </button>
        <ul class="dropdown-menu">
            Add to fav
            Buy
        </ul>
    </div>
</div><!-- /.col-lg-4 -->
{% endfor %}
{% endblock %}