{% extends 'main/base.html'%}
{% block content%}
{% load my_tags %}
{% for product in products%}
<div class="col-lg-4">
    <img src="{% mediapath product.img %}" class="img-thumbnail" alt="">
    <h2 class="fw-normal">{{product.name|title}}</h2>
    <p>{{product.description|title}}</p>
    <p>Stock - {{product.stock}}</p>
    <p>Price - {{product.price}}</p>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary btn-lg">Buy</button>
    </div>
</div><!-- /.col-lg-4 -->
{% endfor %}
{% endblock %}