{% extends 'main/base.html'%}
{% block content %}
<br><br><br>
<h1>{% if object %}Edit product{% else%} Add a new product here{% endif %}</h1>


<div class="col-12">

    <form class="row" method="post" enctype="multipart/form-data">

        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3>Fill in info about the product</h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p}}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">{% if object %}Save{% else%}Add{% endif %}</button>
                </div>
            </div>

        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h3>Fill in info about the product's version</h3>
                </div>
                <div class="card-body">
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                    {{ form.as_p}}
                    {% if not forloop.last %}
                    <div class="card-footer">
                        <br>
                    </div>
                    {% endif %}
                    {% endfor%}
                </div>
                <div class="card-footer">
                    <br>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
