{% extends 'main/base.html' %}

{% block content %}

<div class="card col-4">
    <img src="{{ product.img.url }}" class="card-img-top" alt="The product's image">
    <div class="card-body">
        <h5 class="card-title">{{ object.name}}</h5>
        <p class="card-text">{{ object.description}}</p>
        <p class="card-text">Author - {{ object.user_product }}</p>
        <p class="card-text">
            {% for version in object.versions.all %}
            {% if version.is_active %}
            Actual version - {{ version.name }}
            {% endif %}
            {% endfor %}
        </p>

    </div>

    <div class="card-body">
        {% if perms.main.change_product %}
            <a href="{% url 'main:product_update' object.slug %}" class="btn btn-outline-info">Edit</a>
            <a href="{% url 'main:product_delete' object.slug %}" class="btn btn-outline-danger">Delete</a>
            {% if object.is_published %}
                <a href="{% url 'main:make_unpublished' object.slug %}" class="btn btn-outline-warning">Unpublish</a>
            {% else %}
                <a href="{% url 'main:make_unpublished' object.slug %}" class="btn btn-outline-success">Publish</a>
            {% endif %}
        {% else %}
            {% if user == object.user_product %}
                <a href="{% url 'main:product_update' object.slug %}" class="btn btn-outline-info">Edit</a>
                <a href="{% url 'main:product_delete' object.slug %}" class="btn btn-outline-danger">Delete</a>
                {% if object.is_published %}
                    <a href="{% url 'main:make_unpublished' object.slug %}" class="btn btn-outline-warning">Unpublish</a>
                {% else %}
                    <a href="{% url 'main:make_unpublished' object.slug %}" class="btn btn-outline-success">Publish</a>
                {% endif %}
            {% else %}
                <a href="{% url 'main:product_update' object.slug %}" class="btn btn-outline-secondary ">Edit</a>
                <a href="{% url 'main:product_delete' object.slug %}" class="btn btn-outline-secondary ">Delete</a>
                <a href="{% url 'main:make_unpublished' object.slug %}" class="btn btn-outline-secondary ">Unpublish</a>
            {% endif %}

        {% endif %}
    </div>
</div>

{% endblock %}