<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="navbarCollapse">

                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'main:product_list'%}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active float-end" aria-current="page" href="{% url 'main:add'%}">Add a
                            product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active float-end" aria-current="page" href="{% url 'blog:blog_list'%}">Go to
                            blogs</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <a href="{% url 'users:logout'%}">Logout</a>
                {% else %}
                    <a href="{% url 'users:login'%}">Login</a>
                {% endif %}

            </div>
        </div>
    </nav>
</header>
<br><br>